#header{
    width: 100%;
    height: 4rem;
    position: fixed;
    left: 0;
    top:0;
    opacity: 0.9;
    z-index: 1000;
    background: linear-gradient(to right, #ed80b3, #f3ce79);

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.light-dropshadow{
    box-shadow: 0px 3px 20px 0px #bdbdbd;
}

.dark-dropshadow{
    box-shadow: 0px 3px 20px 0px #808080;
}

#header-title{
    position: absolute;
    color: white;
    margin-top: 1rem;
    left: 2%;
    user-select: none;
}

#log-in{
    margin-top: 22px;
    right: 2%;
    -webkit-appearance: none;
    background: none;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    padding-bottom: 1.1rem;
    border-style: none;
    outline: none;
    font-weight: bold;
}

#log-in:hover{
    border-bottom: thick solid rgba(255, 255, 255, 0.30);
}

#log-in:active{
    border-bottom: thick solid rgba(255, 255, 255, 0.30);
}

#create-account:hover{
    border-bottom: thick solid rgba(255, 255, 255, 0.30);
}

#create-account:active{
    border-bottom: thick solid rgba(255, 255, 255, 0.30);
}

#account-name:hover{
    border-bottom: thick solid rgba(255, 255, 255, 0.30);
}

#log-out:hover{
    border-bottom: thick solid rgba(255, 255, 255, 0.30);
}



#create-account{
    margin-top: 22px;
    right: 2%;
    -webkit-appearance: none;
    background: none;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    padding-bottom: 1.1rem;
    border-style: none;
    outline: none;
    font-weight: bold;
}

#account-name{
    margin-top: 22px;
    right: 2%;
    -webkit-appearance: none;
    background: none;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    padding-bottom: 1.1rem;
    border-style: none;
    outline: none;
    font-weight: bold;
}

#log-out{
    margin-top: 22px;
    right: 2%;
    -webkit-appearance: none;
    background: none;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    padding-bottom: 1.1rem;
    border-style: none;
    outline: none;
    font-weight: bold;
}

#header-button-wrapper{
    text-align: center;
    display: table-cell;
    float: right;
    vertical-align: middle;
    padding-right: 10px;
}