#payment-wrapper{
    margin-left: -0.5rem;
    position: absolute;
}

#name-on-Card{
    margin: 0.5rem 0.3rem 0.5rem 0.3rem;
    width: 18rem;
}

#card-number{
    margin: 0.5rem 0.3rem 0.5rem 0.3rem;
    width: 18rem;
}

#card-cvv{
    margin: 0.5rem 0.3rem 0.5rem 0.3rem;
    width: 3rem;
}

#date-month{
    margin: 0.5rem 0.3rem 0.5rem 0.3rem;
    width: 5rem;
}

#payment-header{
    font-size: 2rem;
    font-weight: 600;
    color: #646464;
    margin: 0.2rem 0.2rem 0.2rem 1rem;
}