.pledgr-button{
    font-size: 0.8rem;
    height: 2.6rem;
    width: 6rem;
    border-style: none;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to right, #f3ce79, #ffc171);
    cursor: pointer;
}

.pledgr-button-bold{
    font-size: 0.8rem;
    height: 2.6rem;
    width: 6rem;
    border-style: none;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to right, #f3ce79, #ffc171);
    cursor: pointer;
    font-weight: 600;
}

.springboard-button{
    margin: 1rem;
    font-weight: bold;
    background: linear-gradient(to right, #ed80b3, #ff91c5);
}