#progress-wrapper{
    position: relative;
}

#progress{
    background: linear-gradient(to left, #f385b9, #f8d37e);
    border-radius: 100px;
    height: 0.5rem;
    position:absolute;
    z-index: 4;
}

#progress-background{
    border-radius: 100px;
    background-color: #f3f3f3;
    height: 0.5rem;
    width: 300px;
    position:absolute;
    z-index: 3;
}