#details-wrapper{
    display: flex;
    flex-wrap: wrap; /* optional. only if you want the items to wrap */
    justify-content: center; /* for horizontal alignment */
}

#back-to-projects-button{
    margin-top: 1.5rem;
    margin-right: 1rem;
    float: right;
    z-index: 2;
    position: relative;
}

h3{
    margin: 1.2rem 0rem 0rem 1rem;
    font-size: 3.2em;
    color: #454545;
}

h4{
    margin: 0rem 0 0 1rem;
    font-size: 1.8em;
    color: #5d5d5d;
}

h5{
    margin: 0rem 0rem 0rem 1rem;
    font-size: 1.5em;
    color: #5d5d5d;
}

#creator-names{
    margin: 0rem 0rem 0rem 1rem;
}

#img-wrapper-pDetails{
    background: linear-gradient(to right, rgb(196, 196, 196), rgb(216, 216, 216));
    width: 600px;
    height: 300px;
    border-radius: 15px;
    margin-top: 6rem;
    margin-right: -5rem;
    float: right;
    flex: 1;
    z-index: 1;
    margin-bottom: 2rem;
}

#project-details{
    padding: 0px 10px 2rem 20px;
    margin-top: 7rem;
    margin-bottom: 2rem;
    width: 90vw;
    background-color: #ffffff;
    box-shadow: 0px 5px 17px 0px #bdbdbd;
    border-radius: 15px;
    overflow: scroll;
    z-index: 0;
    float:left;
}

#project-description{
    margin-left: 1rem;
    margin-right: 50rem;
    margin-bottom: 1rem;
}

#rewards{
    margin: 0rem 0rem 0rem 1rem;
}

#creators-wrapper{
    float: left;
    clear: both;
}

#circle-wrappers{
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
}

#backer-wrapper{
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
}

#creator-names{
    font-weight: 500;
    color: white;
    white-space: nowrap;
    margin: 0px;
}

#creator-div{
    margin: 0rem 0.5rem 1rem 0.5rem;
    background: linear-gradient(to right, #ff8ac1, #f085b7);
    border-radius: 300px;
    box-shadow: 0px 6px 15px -3px #bdbdbd;
    width: 5rem;
    height: 5rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

#backers-wrapper{
    float: left;
    clear: both;
}

.progress-bar{
    border-radius: 50px;
    completed-color: black;
}

#target-wrapper{
    float: right;
    margin-top: 3rem;
    margin-left: 40rem;
    position: absolute;
}