#details-wrapper{
    position: relative;
}

#pane-wrapper{
    display: flex;
    flex-wrap: wrap; /* optional. only if you want the items to wrap */
    justify-content: center; /* for horizontal alignment */
    overflow: hidden;
}

#back-to-projects-button{
    border-radius: 300px;
    width: 40px;
    height: 40px;
    outline: none;
    position: absolute;
    margin-top: 5.6rem;
    right: 2.4rem;
    z-index: 10;
}

h3{
    margin: 1.2rem 0rem 0.6rem 1rem;
    font-size: 2.5rem;
    color: #454545;
    opacity: 0;
    -webkit-animation: float-element-in 0.6s ease-out forwards;
    -webkit-animation-delay: 0.1s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.1s;
}

h4{
    margin: -0.5rem 20rem 0 1rem;
    font-size: 1.2rem;
    color: #848484;
    opacity: 0;
    -webkit-animation: float-element-in 0.6s ease-out forwards;
    -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;
}

h5{
    margin: 0rem 0rem 1rem 1rem;
    font-size: 1.8em;
    color: #5d5d5d;
    opacity: 0;
    -webkit-animation: float-element-in 0.6s ease-out forwards;
    -webkit-animation-delay: 0.3s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.3s;
}

#creator-names{
    margin: 0rem 0rem 0rem 1rem;
}

#img-wrapper-pDetails{
    background: linear-gradient(to bottom, #C4C4C4, #C4C4C4, #C4C4C4, #b7b7b7);
    width: 600px;
    height: 300px;
    border-radius: 15px;
    z-index: 1;
    margin-top: 1rem;
    opacity: 0;
    box-shadow: 0px 6px 15px -3px #bdbdbd;
    overflow: hidden;

    -webkit-animation: float-element-in 0.6s ease-out forwards;
    -webkit-animation-delay: 0.1s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.1s;
}

#project-image{
    width: 100%;
    vertical-align: middle;
    min-height: 100%;
    display:block;
    margin:auto;
}

#project-details{
    padding: 0px 10px 2rem 20px;
    margin-top: 6.5rem;
    margin-bottom: 2rem;
    width: 90vw;
    min-width: 650px;
    max-width: 1300px;
    background: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #f9f9f9);
    box-shadow: 0px 5px 17px 0px #bdbdbd;
    border-radius: 15px;
    z-index: 0;
}

#project-description{
    margin-left: 1rem;
    margin-right: 42rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #323232;
    font-size: 0.9rem;
    opacity: 0;

    -webkit-animation: float-element-in 0.6s ease-out forwards;
}

#rewards{
    margin: 0rem 0rem 0rem 1.5rem;

    opacity: 0;
    -webkit-animation: float-element-in 0.6s ease-out forwards;
    -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;
}

#creators-wrapper{
    clear: left;
}

#circle-wrappers{
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
}

#rewards-wrapper{
    float: left;
}

#backers-wrapper{
    clear: left;
}

#backer-wrapper{
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
}

#creator-names{
    font-weight: 500;
    color: white;
    white-space: nowrap;
    margin: 0px;
    font-size: 75%;
}

#creator-div{
    margin: 0rem 0.5rem 1rem 0.5rem;
    background: linear-gradient(to bottom, #ff96c7, #ff96c7, #ff96c7, #f78cc3);
    border-radius: 300px;
    box-shadow: 0px 6px 15px -3px #bdbdbd;
    width: 5rem;
    height: 5rem;


    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    cursor: default;

    opacity: 0;
}

#target-wrapper{
    margin-bottom: 1.2rem;
    margin-left: 2rem;

    opacity: 0;
    -webkit-animation: float-element-in 0.6s ease-out forwards;
    -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;
}

#righthand-project-details{
    float: right;
    margin-right: 1rem;
    margin-top: 1.2rem;
    z-index: 1;
}

#target-heading{
    margin-bottom: 0.1rem;
    margin-left: 2rem;

    opacity: 0;
    -webkit-animation: float-element-in 0.6s ease-out forwards;
    -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;
}

#current-pledged-amount{
    margin-bottom: 0.2rem;
    margin-top: 1.5rem;
    font-weight: 500;
    color: #ffc171;
    font-size: 1.8rem;
    margin-left: 2rem;

    opacity: 0;
    -webkit-animation: float-element-in 0.6s ease-out forwards;
    -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;
}

#target-amount-desc{
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
    font-weight: 500;
    color: #525252;
    font-size: 1.2rem;
    margin-left: 2rem;
    opacity: 0;
    -webkit-animation: float-element-in 0.6s ease-out forwards;
    -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;
}

#backers-desc{
    margin-bottom: 2rem;
    margin-top: 0.1rem;
    margin-left: 2rem;
    font-weight: 500;
    color: #525252;
    opacity: 0;
    -webkit-animation: float-element-in 0.6s ease-out forwards;
    -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;

}

#creation-date-wrapper{
    text-align: right;
    margin-bottom: 0.1rem;
    opacity: 0;
    -webkit-animation: float-element-in 0.6s ease-out forwards;
    -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;
}

#creation{
    color: #a9a9a9;
    font-size: 0.8rem;
}

#progress-wrapper{
}

.close-project{
    display: none;
}

.open-project{
    -webkit-animation: enter-project 0.5s ease-out forwards;
    -webkit-transform-origin: 100% 0%;
}

@-webkit-keyframes enter-project {
    0% {
        opacity: 0;
        -webkit-transform: translateY(300px);
        -moz-transform:translateY(300px);
        -ms-transform:translateY(300px);
        -o-transform:translateY(300px);
        transform:translateY(300px);

    }

    70%{
        -webkit-transform:translateY(-30px);
        -moz-transform:translateY(-30px);
        -ms-transform:translateY(-30px);
        -o-transform:translateY(-30px);
        transform:translateY(-30px);
    }

    100% {
        opacity: 1;
        -webkit-transform:translateY(0);
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -o-transform:translateY(0);
        transform:translateY(0);
    }
}
