body{
    font-family: "Helvetica Neue";
}


#searchWrap{
    margin-right: auto;
    margin-left: auto;
    text-align:center
}

.search{
    margin-top: 5rem;
    height: 3rem;
    border-radius: 40px;
    border-color: #353535;
    max-width: 100%;
    width: 20rem;
    padding: 0.625rem 0rem 0.625rem 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: none;
    border-style: none;
    outline: none;
    color: #292929;
    -webkit-appearance: none;
    box-sizing: content-box;
    box-shadow: 0px 6px 15px -3px #bdbdbd;
}

#projects{
    margin-top: 2rem;
    margin-left: 13%;
}

.project{
    float: left;
    margin: 20px;
    width:200px;
    height:250px;
    background-color: #ffffff;
    box-shadow: 0px 6px 15px -3px #bdbdbd;
    border-radius: 15px;
    padding: 10px 0px 0px 20px;
    overflow: hidden;

}

.project-img{
    height: 10rem;
    width: 10rem;
}

h1{
    margin-top: 1px;
    font-size: 2em;
    color: #454545;
}

h2{
    margin-top: -1em;
    font-size: 1.1em;
    color: #5d5d5d;
}