body{
    font-family: "Helvetica Neue";
}


#searchWrap{
    margin-right: auto;
    margin-left: auto;
    text-align:center
}

#projects-wrapper{
    display: flex;
    flex-wrap: wrap; /* optional. only if you want the items to wrap */
    justify-content: center; /* for horizontal alignment */
}

#projects{
    margin-top: 2rem;
    cursor: pointer;
}

.project{
    float: left;
    margin: 1rem;
    width: 200px;
    height: 240px;
    background-color: #ffffff;
    box-shadow: 0px 6px 15px -3px #bdbdbd;
    border-radius: 15px;
    padding: 10px 10px 0px 10px;
    overflow: hidden;
}

.project.selected{

}

.fade
{
    opacity:0.5;
}
.fade:hover
{
    opacity:1;
}

.float {
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -ms-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    transition:all .2s ease-out;
    -webkit-animation: depth_effect_reverse 0.2s linear forwards;
}

.float:hover {
    -webkit-transform:translate(0px,-8px);
    -moz-transform:translate(0px,-8px);
    -ms-transform:translate(0px,-8px);
    -o-transform:translate(0px,-8px);
    transform:translate(0px,-8px);
    -webkit-animation: depth_effect 0.2s linear forwards;
}



@-webkit-keyframes depth_effect {
    0% {
        box-shadow: 0px 6px 15px -3px #bdbdbd;

    }
    100% {
        box-shadow: 0px 10px 20px 0px rgba(189, 189, 189, 0.70);
    }
}

@-webkit-keyframes depth_effect_reverse {
    0% {
        box-shadow: 0px 10px 20px 0px rgba(189, 189, 189, 0.70);
    }
    100% {
        box-shadow: 0px 6px 15px -3px #bdbdbd;
    }
}

#img-wrapper{
    padding-left: -40px;
    margin: -10px -20px 0px -20px;
    background: linear-gradient(to right, rgb(196, 196, 196), rgb(216, 216, 216));
    width: 230px;
    height: 150px;
    cursor: hand;
}

#project-img{
    height: 150px;
    cursor: hand;
}

h1{
    margin-top: 1px;
    font-size: 1.6em;
    color: #454545;
}

h2{
    margin-top: -18px;
    font-size: 0.9em;
    color: #5d5d5d;
}

.selected-image {
    padding-left: 0px;
    margin: 0px;
}