#reward-shape{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    width: 30rem;
    height: auto;
    background: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #fbfbfb);
    overflow: hidden;
    box-shadow: 0px 5px 14px 0px #cbcbcb;
    border-radius: 15px;
    z-index: 0;
    float: left;
    cursor: pointer;

}

#bigdaddy-wrapper{
    width: 40rem;
}

#all-rewards{
    display: flex;
    flex-wrap: wrap; /* optional. only if you want the items to wrap */
}

#reward-price{
    font-weight: 500;
    color: #ffc171;
    font-size: 1.5rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

#reward-description{
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    color: #454545;
}

#pledge-title{
    font-weight: 500;
    color: #ffc171;
    font-size: 1.9rem;
    margin-top: 0.1rem;
    margin-bottom: -2rem;

}

#reward-details-price{
    font-weight: 400;
    font-size: 1.6rem;
    margin-right: auto;
    margin-left: auto;
    color: #454545;
}

#bigdaddy-details-wrapper{
    position: absolute;
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1100;
    opacity: 0;
}

#pledge-options-wrapper{
    margin-left: 2rem;
}

#reward-details-shape{
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
    width: 20rem;
    height: 16rem;
    background: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #fbfbfb);
    overflow: hidden;
    box-shadow: 0px 3px 20px 0px #808080;
    border-radius: 15px;
    position: relative;
}

#pledge-button{
    bottom: 0;
    right: 0;
    position: absolute;
}

#anon-label{
    margin-bottom: 0rem;
}

#not-logged-in{
    font-weight: 500;
    color: #ffc171;
    font-size: 1.9rem;
    margin-top: 2rem;
    text-align: center;
}

#anon-check-box{
    margin-top: 0.2rem;
    margin-left: 0.6rem;
    position: absolute;
}

#payment-wrapper{
}

#pledge-amount-input{
    width: 7rem;
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    color: #454545;

}

.no-class{

}


.transition-button-out{
     -webkit-animation: transition-elements-out 0.3s ease-out forwards;

 }

.transition-amount-out{
    -webkit-animation: transition-elements-out 0.3s ease-out forwards;
}

.transition-description-out{
    -webkit-animation: transition-elements-out 0.3s ease-out forwards;
}

@-webkit-keyframes transition-elements-out {
    0% {
        -webkit-transform: translateX(0px);
        -moz-transform:translateX(0px);
        -ms-transform:translateX(0px);
        -o-transform:translateX(0px);
        transform:translateX(0px);
    }
    100% {
        -webkit-transform: translateX(-400px);
        -moz-transform:translateX(-400px);
        -ms-transform:translateX(-400px);
        -o-transform:translateX(-400px);
        transform:translateX(-400px);
    }
}

.transition-element-in{
    -webkit-animation: transition-elements-in 0.3s ease-out forwards;
}

@-webkit-keyframes transition-elements-in {
    0% {
        -webkit-transform: translateX(400px);
        -moz-transform:translateX(400px);
        -ms-transform:translateX(400px);
        -o-transform:translateX(400px);
        transform:translateX(400px);
    }
    100% {
        -webkit-transform: translateX(0px);
        -moz-transform:translateX(0px);
        -ms-transform:translateX(0px);
        -o-transform:translateX(0px);
        transform:translateX(0px);
    }
}

.open-pledge-window{
    -webkit-animation: enter-pledge-window 0.3s ease-out forwards;
}

@-webkit-keyframes enter-pledge-window {
    0% {
        opacity: 0;
        /*-webkit-transform: translateY(20px);*/
        /*-moz-transform:translateY(20px);*/
        /*-ms-transform:translateY(20px);*/
        /*-o-transform:translateY(20px);*/
        /*transform:translateY(20px);*/
    }
    100% {
        opacity: 1;
        /*-webkit-transform: translateY(0px);*/
        /*-moz-transform:translateY(0px);*/
        /*-ms-transform:translateY(0px);*/
        /*-o-transform:translateY(0px);*/
        /*transform:translateY(0px);*/
    }
}


