.pledger-div{
    margin: 0rem 0.5rem 1rem 0.5rem;
    background: linear-gradient(to bottom, #ffda7d, #ffd97b, #ffd97b, #ffcf78);
    border-radius: 300px;
    box-shadow: 0px 6px 15px -3px #bdbdbd;
    width: 5rem;
    height: 5rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    opacity: 0;
    cursor: default;
}

.empty-backers{
    opacity: 0.6;
}

#backer-name{
    font-weight: 500;
    color: white;
    white-space: nowrap;
    margin: 0px;
    word-wrap: break-word;
    font-size: 75%;
}

.backer-amount{
    font-weight: 500;
    color: white;
    white-space: nowrap;
    margin: 0px;
    font-size: 100%;
    word-wrap: break-word;
}

#no-backers{
    font-weight: 500;
    color: white;
    white-space: nowrap;
    margin: 0px;
    font-size: 1rem;
    word-wrap: break-word;
}

.float-in div{
    -webkit-animation: float-element-in 0.6s ease-out forwards;
    -webkit-animation-delay: 0.8s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.8s;
}

.float-in:nth-child(1) div { animation-delay: 0s }
.float-in:nth-child(2) div { animation-delay: 0.1s }
.float-in:nth-child(3) div { animation-delay: 0.2s }
.float-in:nth-child(4) div { animation-delay: 0.3s }
.float-in:nth-child(5) div { animation-delay: 0.4s }

@-webkit-keyframes float-element-in {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, 20px);
        -moz-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
        -o-transform: translate(0px, 20px);
        transform: translate(0px, 20px);

    }

    70% {
        -webkit-transform: translate(0px, -5px);
        -moz-transform: translate(0px, -5px);
        -ms-transform: translate(0px, -5px);
        -o-transform: translate(0px, -5px);
        transform: translate(0px, -5px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
