.pledgr-button{
    font-size: 0.8rem;
    height: 2.6rem;
    width: 6rem;
    border-style: none;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to bottom, #ffda7d, #ffd97b, #ffd97b, #ffcf78);
    cursor: pointer;
    font-weight: 500;
}

.pledgr-button-bold{
    font-size: 0.8rem;
    height: 2.6rem;
    width: 6rem;
    border-style: none;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to bottom, #ffda7d, #ffd97b, #ffd97b, #ffcf78);

    cursor: pointer;
    font-weight: 600;
}

.springboard-button{
    margin: 1rem;
    font-weight: bold;
    background: linear-gradient(to bottom, #ff96c7, #f085b7, #f085b7, #f07dac);
}